// 1.
// Define colors
// ----------------------------------------
// The colors below are taken from the `minimal-syntax` theme. Change them to
// whatever you want. It's best to re-use color variables set in the rest of
// your theme.

@_background:     @syntax-background-color;
@_text:           @syntax-text-color;
@_text_alt:       darken(@_text, 15%);
@_syntax:         #d889de;
@_syntax_alt:     darken(@_syntax, 15%);
@_content:        #009900;
@_variable:       #4cc8ff;
@_constant:       #ee1100;
@_highlight:      #ffdd00;
@_comment:        #ff8000;
@_neutral:        #ca7172;



// 2.
// Generic markup styles
// ----------------------------------------

.syntax--markup {

  &.syntax--bold,
  &.syntax--strong,
  &.syntax--italic,
  &.syntax--emphasis {
    color: @_text_alt;
  }

  &.syntax--bold,
  &.syntax--heading,
  &.syntax--strong.syntax--emphasis {
    font-weight: bold;
  }

  &.syntax--italic,
  &.syntax--emphasis:not(.syntax--strong) {
    font-style: italic;
  }

  &.syntax--underline {
    text-decoration: underline;
  }

  &.syntax--strike {
    text-decoration: line-through;
  }

  &.syntax--heading,
  &.syntax--substitution,
  &.syntax--changed {
    color: @_syntax;
  }

  &.syntax--inserted,
  &.syntax--addition,
  &.syntax--quote {
    color: @_content;
  }

  &.syntax--deletion,
  &.syntax--hr {
    color: @_constant;
  }

  &.syntax--link {
    color: @_variable;
  }

  &.syntax--list {
    & > .syntax--punctuation {
      color: @_syntax_alt;
    }
  }

  &.syntax--raw,
  &.syntax--code {
    color: @_neutral;
  }

 .syntax--punctuation {
   opacity: 0.5;
 }
}



// 3.
// Define custom markdown styles
// ----------------------------------------
// Below is an incomplete list of markdown elements you might want to style
// differently from the default markup elements defined above. All styles are
// empty, primarily to give you an idea of what's possible.

.syntax--text.syntax--md {
  .syntax--md {

    &.syntax--heading {
      > .syntax--punctuation {}
      &.syntax--empty {
        .syntax--punctuation {}
      }
    }

    &.syntax--hr {}
    &.syntax--quote {}

    &.syntax--link {
      color: @_variable;

      &.syntax--text {}
      &.syntax--destination {
        .syntax--uri {}
      }
      &.syntax--label {}
      &.syntax--title {}
      &.syntax--auto {
        &.syntax--email {}
      }
      &.syntax--reference {
        &.syntax--abbreviation {}
      }
      &.syntax--footnote {
        &.syntax--reference {}
        &.syntax--definition {}
      }
    }

    &.syntax--gfm {
      &.syntax--reference {
        .syntax--mention {}
        .syntax--issue {}
        .syntax--user {}
        .syntax--repository {}
        .syntax--sha {}

        &.syntax--class {}
        &.syntax--method {
          &.syntax--instance {}
          &.syntax--class {}
        }
      }

      &.syntax--emoji {}
    }

    &.syntax--constant {
      &.syntax--entity {}
      &.syntax--escape {}
      &.syntax--line-break {}
    }

    &.syntax--reference {
      &.syntax--class {}
      &.syntax--link {}
    }

    &.syntax--list {
      > .syntax--punctuation {
        &.syntax--checkbox {}
      }

      &.syntax--unordered {}
      &.syntax--ordered {}
      &.syntax--empty {}

      &.syntax--task {
        &.syntax--completed {}
      }

      &.syntax--definition {}
    }

    &.syntax--code {
      &:not(.syntax--fenced) {}

      &.syntax--fenced {
        &.syntax--info {}
      }

      &.syntax--raw {}
    }

    &.syntax--constant {
      &.syntax--language {}
    }

    &.syntax--emphasis {
      &:not(.syntax--strong) {}

      &:not(.syntax--strong) .syntax--strong {
        font-style: italic;
      }
    }

    &.syntax--strong {}

    &.syntax--table {
      > .syntax--punctuation {
        &.syntax--alignment {}
      }
    }

    &.syntax--strike {}

    &.syntax--critic {
      &.syntax--addition {}
      &.syntax--deletion {}
      &.syntax--comment {}
      &.syntax--highlight {}
      &.syntax--substitution {}
    }

    &.syntax--special-attributes {}

    &.syntax--attribute {
      &.syntax--special {
        &.syntax--other {}
        &.syntax--id {}
        &.syntax--class {}
      }
      .syntax--value {
        &.syntax--string {}
        &.syntax--storage {}
      }
    }
  }
}
