@user-syntax-selection-color: #1d2325;
@user-syntax-background-color: #0e1112;
@user-syntax-gutter-background-color: #111415;
@user-syntax-gutter-background-color-selected: #1D2021;
@user-syntax-gutter-background-color-current-line: #151a1c;
