@import "themes/dark";
@import "user";

// General colors
@syntax-text-color: #CCCCCC;
@syntax-cursor-color: #4cc8ff;
@syntax-selection-color: @user-syntax-selection-color;
@syntax-background-color: @user-syntax-background-color;

// Guide colors
@syntax-wrap-guide-color: #3A3A3A;
@syntax-indent-guide-color: #2A2A2A;
@syntax-invisible-character-color: #4A4A4A;

// For find and replace markers
@syntax-result-marker-color: #6A6A6A;
@syntax-result-marker-color-selected: #CCCCCC;

// Gutter colors
@syntax-gutter-text-color: #CCCCCC;
@syntax-gutter-text-color-selected: lighten(@syntax-gutter-text-color, 10%);
@syntax-gutter-background-color: @user-syntax-gutter-background-color;
@syntax-gutter-background-color-selected: @user-syntax-gutter-background-color-selected;
@syntax-gutter-background-color-current-line: @user-syntax-gutter-background-color-current-line;

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #96CBFE;
@syntax-color-added: #A8FF60;
@syntax-color-modified: #E9C062;
@syntax-color-removed: #CC6666;
